@import url('https://fonts.googleapis.com/css?family=Song+Myung:400');

html,
body {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.section{
    overflow: hidden;
}

.first_post {
    position: absolute;
    margin-top: 10vh;
    color: black;
    font-size: 8vw;
    font-weight: bold;
    font-family: 'Song Myung', serif;
    writing-mode: vertical-rl;
}

.second_post {
    position: absolute;
    margin-top: 10vh;
    color: black;
    font-size: 8vw;
    font-weight: bold;
    font-family: 'Song Myung', serif;
    writing-mode: vertical-rl;
}

.logo {
    position: fixed;
    top: 0px;
    padding-top: 3vh;
    margin-left: 3vw;
    margin-top: 0;
    font-size: 6vw;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.four_p {
    text-align: center;
}

.tag::before{
    content: '';
    -webkit-transform: skew(-16deg);
    -moz-transform: skew(-16deg);
    -o-transform: skew(-16deg);
    transform: skew(-16deg);
    position: absolute;
    width: 65%;
    left: -30%;
    height: 100vh;
    overflow: hidden;

    background-color: #0000007f
}

.tag {
    background-image: url("/resources/image/print1.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;

}

.explain{
    position: absolute;
    top: 30%;
    left: 10%;
    color: rgba(255, 255, 255, 0.75);
}

h2{
    font-size: 5vw;
    margin-bottom: 10px;
}

.explain_p{
    font-size: 3vw;
    margin: 0%;
}

.clothes_container{
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clothes_container::before{
    content: '';
    -webkit-transform: skew(-16deg);
    -moz-transform: skew(-16deg);
    -o-transform: skew(-16deg);
    transform: skew(-16deg);
    position: absolute;
    width: 65%;
    left: -30%;
    height: 100vh;
    overflow: hidden;
    background-color: #1d1d1d5e
}

#main_clothes{
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    overflow: hidden;
}
.clothes{
    background-image: url("/resources/image/hoodie1.png");
}

.clothes_wd{
    background-image: url("/resources/image/hoodie1_wd.png");
}

#more_info{
    top: 12vh;
    left: 5vw;
    /* left: calc(50vw - 75px); */
    position: absolute;
    font-size: 25px;
    font-family: 'Nanum Myeongjo', 'serif';
    font-weight: bold;
    color: black;

}

.clothes_content{
    top: 20vh;
    left: 5vw;
    /* left: calc(50vw - 75px); */
    position: absolute;
    font-size: 4vw;
    font-family: 'Nanum Myeongjo', 'serif';
    font-weight: bold;
    color: white;
    line-height: 3vw;
}
.main_clothes_name{
    font-size: 1em;
}

.fp-controlArrow{
    margin: 0 15vw;
    display: none;
}
.sd1{
    background-image: url("/resources/image/mainSlider/slider_1.png");
    background-position: center;
}
.sd2{
    background-image: url("/resources/image/mainSlider/slider_2.png");
    background-position: center top;
}
.sd3{
    background-image: url("/resources/image/mainSlider/slider_3.png");
    background-position: center;
}

.inputImage{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.fp-slidesNav ul{
 text-align: center;
}

.fp-slidesNav ul li a span, .fp-slidesNav ul li a.active span{
    margin: 0 0;
    width: 15px;
    height: 15px;
    border-radius: 0;
    background: black;
}

.fp-slidesNav ul li a.active span{
    background: white;
}

.fp-slidesNav ul li:hover a span{
    width: 15px;
    height: 15px;
    margin: 0;
    background: #6d6d6d;
}

.fp-slidesNav ul li:hover a.active span{
    width: 15px;
    height: 15px;
    margin: 0;
    border-radius: unset;
}

.main_theme{
    background-image: url("/resources/image/theme.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;

}
#shutter{
    background-color: rgba(75, 75, 75, 0.5);
    width: 100%;
    height: 0;
}

.shutter_content{
    font-family: 'Song Myung', serif;
    color: white;
    position: relative;
    top: 15%;
    display: none;
}

.shutter_content_head{
    font-weight: bold;
    font-size: 25px;
    margin-left: 5%;
}

.shutter_content_p{
    margin: 0 10%;
    font-size: 20px;
}

.shutter_closer{
    display: none;
    position: absolute;
    top: 80vh;
    left: 7%;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Black Han Sans', sans-serif;
    cursor: pointer;
}

.more_info_wrap{
    position: absolute;
    top: 80%;
    left: 5%;
    color: black;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

#fp-nav ul li a span {
    background: white;
}

#fp-nav ul li a.active span {
    height: 10px;
    width: 10px;

    background: white;
}
