html,
body {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.logo_other {
  position: fixed;
  top: 0px;
  padding-top: 3vh;
  margin-left: 3vw;
  margin-top: 0;
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  z-index: 10;
}

#first_sec {
  height: 40%;
  width: 100%;
  top: 0;
  background-size: cover;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.sec_logo {
  margin: 0;
  font-size: 72px;
  font-weight: bold;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
}

#second_sec {
  top: 40%;
  width: 100%;
  background-size: cover;
  background-color: white;
  position: absolute;
}

.sec_second_log {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 40px;
  margin-left: 5vw;
  margin-top: 8vh;
  margin-bottom: 0;
}

.content_name {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 25px;

  margin-top: 2vh;
  margin-left: 5vw;
  margin-bottom: 0;
  color: #444444;
}

.theme_list {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.theme_list li {
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 75vh;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 0;

  vertical-align: baseline;
}

.list_content{
  padding-left: 30px;
  margin-right: 80px;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  vertical-align: top; /*수직정렬*/
  position: relative; /*위치 직접설정 가능*/

}
.list_content h3{
  color: black;
  font-size: 2.5vw;
  vertical-align: baseline; /*기준위치*/
  font-family: 'Nanum Myeongjo', 'serif';
}

.list_content p{
  margin-top: 5vh;
  color:  rgba(0, 0, 0, 0.5);
  font-size: 1.5vw;
}

.list_photo {
  margin-right: 5vw;
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 110px - 22vw);
  height: 100%;
  position: relative;
  overflow: hidden;
}
.list_content_coming{
  margin-left: 5vw;
}

.list_content_coming h3{
  color: black;
  font-size: 8vw;
  vertical-align: baseline; /*기준위치*/
  font-family: 'Nanum Myeongjo', 'serif';
}

.list_content_coming p{
  margin-top: 10vh;
  color:  rgba(0, 0, 0, 0.5);
  font-size: 5vw;
}
