@import url('/resources/css/bootstrap-4.4.1.min.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.ft_information {
    list-style: none;
    margin: 30px 20px;
    padding: 0;
    display: none;
    font-size:15px;
}

.ft_left {
    float: left;

}

.info_tit {
    margin-bottom: 8px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(110, 110, 110);
}

.info_cont {
    color: rgb(179, 179, 179);
    margin-bottom: 10px;
    font-size: 0.8em;
}

.ft14 {
    float: left;
    font-size: 40px !important;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    left: 10px;
}
.ft_insta_content{
    position: relative;
    font-size: 12px;
    color: rgb(179, 179, 179);
    float: right;
}