#header {
    position: relative;
    overflow: hidden;
    padding: 62px 0 59px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#header .h_logo{
    text-align: center;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: url(/resources/image/logo.png) no-repeat 0 0;
    -webkit-background-size: 250px auto;
    background-size: 250px auto;
    color: transparent;
}

#header .h_logo:before {
    content: '\00a0';
    font-size: 0
}

#container{
    max-width: 900px;
}

#container h2.blind {
    display: block;
    width: 150px;
    height: 20px
}