@CHARSET "UTF-8";

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

#totalmenu {
	margin: 1%;
}

#menu2 {
	float: left;
	margin-left: 0%;
	z-index: 9999;
	height: 50px;
}

#menu2 .login>li {
	display: inline;
	float: left;
	width: 15%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
}

#menu2 ul {
	width: 800px;
	margin: 0 auto;
}

#menu1 {
	/* float:right; */
	margin-left: 70%;
	z-index: 9999;
	height: 50px;
}

#menu1 ul li {
	display: block;
	z-index: 9999;
}

#menu1 ul {
	width: 1000px;
	margin: 0 auto;
}

#menu1 .main .sub {
	position: absolute;
	top: 50px;
	left: 0%;
	width: 100%;
	display: none;
}

#menu1 .main>li {
	display: inline;
	float: left;
	width: 15%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
}

#menu1 .main>li:hover .sub {
	display: block;
}

#menu1 .main>li a {
	display: block;
}

/* #menu1 .main .sub {
	position: absolute;
	top: 50px;
	left: 0%;
	width: 100%;
	display: none;
} */
#menu1 .main .sub li {
	position: relative;
	padding: 0px 0px;
	background: #DAAADB;
}

#menu1 .main .sub li a:hover {
	background: #7A297B
}