
* {
    margin: 0;
    padding: 0;
}

#totalMenu {
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    padding: 1vw;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

#login {
    font-size: 20px;
    color: white;
    font-size: 2.5vw;
    font-family: Big Shoulders Display;

}

#user_info {
    background-color: rgba(0, 0, 0, 0.35);
    width: 12vw;
    height: 10vh;
}

.user_info_txt {
    color: white;
    font-size: 15px;
    font-family: Big Shoulders Display;
}

li > p {
    cursor: pointer;
}

#menu2 .login > li {
    display: inline;
    line-height: 50px;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

#menu2 ul {
    width: 800px;
    margin: 0 auto;
}


#menu1 ul li {
    display: block;

}

#menu1 ul {
    width: 1000px;
    margin: 0 auto;
}

#menu1 .main .sub {
    position: absolute;
    top: 50px;
    left: 0%;
    width: 100%;
    display: block; /*none*/
}

.sub{
    z-index: 100;
}
#menu1 .main > li {
    display: inline;
    line-height: 50px;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

#menu1 .main > li:hover .sub {
    display: block;
}

#menu1 .main > li a {
    display: block;
}

#menu1 .main .sub li {
    position: relative;
    padding: 0px 0px;
    background: #DAAADB;
}

#menu1 .main .sub li a:hover {
    background: #7A297B
}


.totalMenu_text {
    color: white;
    font-size: 2.5vw;
    font-family: Big Shoulders Display;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

#menu2 {
    float: left;
    margin-left: 2%;
    height: 50px;
    width: 45vw;
    padding-top: 1%;
}

#menu2 .login > li {
    display: inline;
    float: left;
    width: 12vw;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

#menu2 ul {
    width: 100%;
    margin: 0 auto;
}

#menu1 {
    right: 2vw;
    margin-left: 45vw;
    height: 50px;
    padding-top: 1%;
}

#menu1 ul li {
    display: block;
}

#menu1 ul {
    width: 560px;
    margin: 0 auto;
    padding-right: 0;
}

#menu1 .main {
    margin-left: 10%;
}

#menu1 .main .sub {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: block; /*none*/
}

.main > li {
    display: inline;
    float: left;
    width: 10vw;
    line-height: 50px;
    text-align: center;
    position: relative;
    margin: 0;
}

#menu1 .main > li:hover .sub {
    display: block;
}

#menu1 .main > li a {
    display: block;
}

#menu1 .main .sub li {
    position: relative;
    padding: 0;
    background-color: black
}

#menu1 .main .sub li a:hover {
    background: #36FF96;
}

/* 메뉴 타이틀 마우스 오버시 색변경 */
.main li:hover {
    background-color: black
}

.main li{
    z-index: 100;
}