
body, html {
   width: 100%;
   height: 100%
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input,
   legend, li, ol, p, select, table, td, textarea, th, ul {
   margin: 0;
   padding: 0
}

body, button, input, select, table, textarea {
   font-family: Dotum, '돋움';
   /* font-size: 12px; */
   -webkit-text-size-adjust: none
}

button, input, select, textarea {
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none
}

button {
   cursor: pointer;
   background-color: transparent
}

fieldset, img {
   border: 0
}

ol, ul {
   list-style: none
}

address, em, i {
   font-style: normal
}

a {
   text-decoration: none
}

a:active, a:focus, a:hover {
   text-decoration: underline
}

body {
   position: relative;
   background: white;
}

#wrap {
   width: 100vw
}

#header {
   position: relative;
   overflow: hidden;
   padding: 62px 0 59px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}



#container, #footer, #header {
   margin: 0 auto;
   max-width: 900px;
   min-width: 460px
}

#header .h_logo {
   text-align: center;
   display: block;
   overflow: hidden;
   width: 250px;
   height: 250px;
   margin: 0 auto;
   background: url(/resources/image/logo.png) no-repeat 0 0;
   -webkit-background-size: 250px auto;
   background-size: 250px auto;
   color: transparent;
}

#header .h_logo:before {
   content: '\00a0';
   font-size: 0
}

#container{
   margin-bottom: 100px;
}

#content {
   width: 60vw;
   max-width: 900px;
   min-width: 460px;
   margin: auto;
}

div[tabindex='-1'] {
   outline: 0
}

.btn_area {
   margin: 30px 0 9px
}

.btn_area.double {
   overflow: hidden;
   margin: 29px -5px 0
}

.btn_area.double>span {
   display: block;
   float: left;
   width: 50%
}

.btn_area.double span:before {
   content: '';
   display: block;
   clear: both
}

.btn_area>span .btn_type {
   width: auto;
   margin: 0 5px
}

.btn_type {
   display: block;
   width: 100%;
   padding: 21px 0 17px;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   cursor: pointer;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

.btn_type:active, .btn_type:focus, .btn_type:hover {
   text-decoration: none
}

.btn_type+.btn_type {
   margin-top: 10px
}

.btn_owner {
   color: #fff;
   background-color: orange
}

.btn_member {
   color: #fff;
   background-color: orange;
   
}

::-webkit-input-placeholder {
   color: #8e8e8e
}

::-moz-placeholder {
   color: #4a4a4a
}

input.int:-ms-input-placeholder {
   color: #8e8e8e
}

input:-moz-placeholder {
   color: #8e8e8e
}

select::-ms-expand {
   opacity: 0
}

.sel{
   width: 100%;
   height: 29px;
   padding: 7px 8px 6px 7px\9;
   font-size: 15px;
   line-height: 18px;
   color: #000;
   border: none;
   border-radius: 0;
   *height: auto;
   *margin-top: 3px;
   -webkit-appearance: none
}

:root .sel {
   background: #fff
      url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100%
      50% no-repeat;
   -webkit-background-size: 20px 8px;
   background-size: 20px 8px
}

.error_next_box {
   display: block;
   margin: 20px 0 0 0;
   font-size: 12px;
   line-height: 14px;
   color: red;
}

.row_group {
   overflow: hidden;
   width: 100%
}

.lbl {
   display: block;
   position: absolute;
   top: 50%;
   left: 14px;
   margin-top: -9px;
   font-size: 15px;
   line-height: 18px;
   color: #8e8e8e;
   z-index: 9
}

.int {
   display: block;
   position: relative;
   width: 100%;
   height: 29px;
   line-height: 29px;
   border: none;
   background: #fff;
   font-size: 15px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   z-index: 10;
   *position: absolute;
   *top: 0;
   *left: 0;
   apperance: none;
   -webkit-apperance: none
}

.row_group+.row_group {
   margin-top: 0px
}

.ps_box+.ps_box {
   margin-top: 10px
}

.join_minor+.join_mobile {
   margin-top: 20px
}

.join_title {
   margin: 10px 0 8px;
   font-size: 14px;
   font-weight: 700
}

.ps_box{
   display: block;
   position: relative;
   width: 100%;
   height: 51px;
   border: solid 1px #dadada;
   padding: 10px 14px 10px 14px;
   background: #fff;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   vertical-align: top
}

.ps_box .lbl {
   left: 0;
   padding: 0 14px;
   width: 100%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

.ps_box.int_id {
   padding-right: 110px
}

.ps_box.int_pass_step1 {
   padding: 10px 93px 10px 14px
}

.ps_box.int_pass_step2, .ps_box.int_pass_step3, .ps_box.int_pass_step4 {
   padding: 10px 85px 10px 14px
}

.ps_box.int_pass:after, .ps_box.int_pass_check2:after, .ps_box.int_pass_check:after,
   .ps_box.int_pass_step1:after, .ps_box.int_pass_step2:after, .ps_box.int_pass_step3:after,
   .ps_box.int_pass_step4:after {
   content: '';
   display: inline-block;
   position: absolute;
   top: 50%;
   right: 16px;
   width: 18px;
   height: 20px;
   margin-top: -10px;
   cursor: pointer
}

.ps_box.int_pass_step1:after {
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
   url(/resources/image/unLock_not.svg)
   0 0 no-repeat
}

.ps_box.int_pass_step2:after {
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
      url(/resources/image/lock_mid.svg)
      0 0 no-repeat
}

.ps_box.int_pass_step3:after {
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
   url(/resources/image/lock_safe.svg)
   0 0 no-repeat
}
.ps_box.int_pass_step4:after {
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
   url(/resources/image/lock_safe.svg)
   0 0 no-repeat
}

.ps_box.int_pass:after{
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
   url(/resources/image/unLock_default.svg)
   0 0 no-repeat
}

.ps_box.int_pass_check:after{
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
   url(/resources/image/unLock_not.svg)
   0 0 no-repeat
}
.ps_box.int_pass_check2:after{
   right: 13px;
   width: 20px;
   height: 20px;
   background: #fff
   url(/resources/image/unLock_check.svg)
   0 0 no-repeat
}

.step_txt {
   display: inline-block;
   position: absolute;
   top: 1px;
   right: 38px;
   font-size: 12px;
}


.ps_box.int_pass, .ps_box.int_pass_check, .ps_box.int_pass_check2 {
   padding-right: 40px
}

.join_row {
	margin-top: 5%;
}

.box_right_space {
   padding-right: 14px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

.join_birthday {
   padding: 0
}

.join_birthday .ps_box {
   padding: 11px 14px
}


.bir_wrap, .name_wrap {
   display: table;
   width: 100%
}

.bir_dd, .bir_mm, .bir_yy {
   display: table-cell;
   table-layout: fixed;
   width: 147px;
   vertical-align: middle;
   *display: block;
   *float: left
}

.bir_mm+.bir_dd, .bir_yy+.bir_mm {
   padding-left: 10px
}

.join_mobile {
   position: relative;
   overflow: hidden
}

.join_mobile .int_mobile_area {
   position: relative;
   margin-top: 10px;
   padding: 0 0 0 0
}


.wa_blind {
   position: absolute;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   margin: -1px;
   width: 1px;
   height: 1px;
   font-size: 0
}




