@import url('/resources/css/bootstrap-4.4.1.min.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



.list_search {
    margin-left: 70%;
    margin-top: -25px;
}

.search_text {
    height: 22px;
}

.search_button {
    height: 25px;
    width: 35px;
    font-weight: 100;
    margin-left: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: orange;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
    line-height: 1em;
}

.title h1 {
    padding-left: 13%;
    font-family: Big Shoulders Display;
    font-weight: 400;
    font-size: 25pt;
}

.main_title{
    font-size: 62px;
}

.themeTitle{
    margin-top: 140px;
    margin-bottom: 100px;
    text-align: center;
    color: #ffaf00;
    font-family: Big Shoulders Display;
    font-size: 30Px;
}


.totalList {
    padding: 0;
    height: 140%;
    min-height: 100%;
    width: 100vw;
}

/* 넘기기버튼 */
#back {
    left: 5vw;
}

#next {
    left: 95vw;
}

#back, #next{
    position: absolute;
    top: 61vh;
    cursor: pointer;
    z-index: 1;
    color: rgb(115, 115, 115);
    overflow: visible;
}

/* top10 */
.toplist {
    padding-top: 3%;
}

.rankingList {
    /* padding-top: 2%; */
    overflow: hidden;
    width: 90vw;
    height: 300px;
    position: relative;
    margin: auto;
}


.rankingList li {
    padding-top: 3%;
    list-style: none;
    float: left;
    margin-left: 25px;
    padding-right: 5px;
    display: inline-block;
}

.rankingList a {
    padding-right: 22px;
}

li img {
    height: 200px;
}

/* 나머지 리스트 */
.otherList {
    margin-top: 4%;
}

.otherList .title {
    margin-bottom: 4%;
}

.list {
    /* padding-top: 2%; */
    width: 90vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 5vw;
    text-align: center;
}


.list ul {
    width: 90vw;
    overflow: hidden;
    text-align: center;
}
.list li {
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    overflow: hidden;
    float: left;
    margin-left: 25px;
    width: 200px;
    height: 200px;

}

.list li a {
    padding-right: 22px;
}

/* 리스트 버튼 */
#buttonli {
    margin-left: 10px;
    padding-left: 5px;
}

#buttonli button, #buttonli a {
    padding-left: 10px;
}

/* 이미지위에 마우스 올릴때 css */

.listtotal span {
    display: inline-block;
}

span>p{
    opacity: 0;
    position: relative;
    bottom: 165px;
    text-align: center;
}

a> span {
    z-index: 10;
    background-color: black;
    height: 225px;
}

span:hover p{
    opacity:1;
}

span:hover img {
    opacity: 0.2;
}

p> strong {
    color: black;
}

.btn {
    margin-top: 15px;
    display: inline;
    cursor: pointer;
}

.pageLeftBtn, .pageRightBtn{
    color: #565656;
    width: 20px;
    font-size: 1.2em;
}


